@model  IEnumerable<HouseWarehouseStore.Models.BannerModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<div class="col-md-3">
    <div class="header-img">
        @foreach (var item in Model)
        {
            <div class="img-item">
            <img asp-append-version="true" width="@item.Width" height="@item.Height" src="@(Configuration["ApiFiles"]+"/files-banner/image/"+ @item.CoverImage)" />
            <a class="img-text" href="@item.Url">
                <p>@item.BannerName</p>
            </a>
        </div>
        }   
    </div>
</div>
