<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml" prefix="og:http://ogp.me/ns# fb:http://www.facebook.com/2008/fbml">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="mw25ISZe98g4UVotHlDB7oTTAN5PYpJP9_HxE3Drlpk" />
    <title>@Html.Raw(ViewData["Title"])</title>
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="~/image/logo.png">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@Html.Raw(ViewData["Description"])">
    <meta property="og:site_name" content="@ViewData["Title"]">
    <meta property="og:image" content="@ViewBag.ImagShare" />
    <meta name="google-signin-client_id" content="821325953694-6mvn9mpq71nabcco9qic7g238icd43cm.apps.googleusercontent.com">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,500;0,600;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="~/fontawesome-pro-5.0.13/css/all.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>
<body>
    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions {
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    }
    <input type="hidden" id="RequestVerificationToken"
           name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">


    @await Component.InvokeAsync("HeaderList")

    <cache>
        @await Component.InvokeAsync("Phone")
    </cache>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_FaceBookChatIcon" />

    <cache vary-by-cookie=".AspNetCore.Culture">
        @await Component.InvokeAsync("FooterList")
    </cache>
    <cache>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=826080674623621&autoLogAppEvents=1" nonce="ZvnuBMGx"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" charset="utf-8"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    </cache>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
