@model IEnumerable<HouseWarehouseStore.Models.CommentModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<div class="row align-items-center review-slider normal-slider">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="review-slider-item">
                <div class="review-img">
                    <img src="@(Configuration["ApiFiles"]+"/files-comment/image/"+ @item.Image)" alt="Image">
                </div>
                <div class="review-text">
                    <h2>@item.CustomerName</h2>
                    <h3>@item.Profession</h3>
                    <div class="ratting">
                        @for (int i = 0; i < @item.Star; i++)
                        {
                            <i class="fa fa-star"></i>
                        }

                    </div>
                    <p>
                        @item.Contents
                    </p>
                </div>
            </div>
        </div>
    }
</div>