@model Pagination<HouseWarehouseStore.Models.CollectionModel>
@{
    ViewData["Title"] = "Danh sách bộ sưu tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bộ sưu tập</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách bộ sưu tập</h6>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Collection"><i class="fa-solid fa-plus"></i> Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Collection/Index'" class="btn btn-dark">Tải lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.SuccessMsg
                        </div>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            <th>
                                Tên bộ sưu tập
                            </th>
                            <th>
                                Mã bộ sưu tập
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Xuất xứ
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Thứ tự hiển thị
                            </th>
                            <th>
                                Bộ sưu tập mới nhất
                            </th>
                            <th>
                                Hiển thị trang chủ
                            </th>
                            <th>
                                Hoạt động
                            </th>
                            <th>
                                Thẻ tiêu đề
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Trạng thái sản phẩm
                            </th>
                            <th>
                                Mã vạch
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th>
                                Người tạo
                            </th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Factory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sort)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hot)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Home)
                                </td>
                                <td>
                                    @if (item.Active)
                                    {
                                        <span class="btn-primary">Hoạt động</span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-danger">Chưa Active</span>

                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TitleMeta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusProduct)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BarCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateBy)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CollectionId"><i class="fa-solid fa-pen"></i> Sửa</a>
                                    <a class="btn" style="background: yellow;" asp-action="Detail" asp-route-id="@item.CollectionId"><i class="fa-solid fa-eye"></i> Chi tiết</a>
                                    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Xóa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

@section Scripts{
    <script>
        setTimeout(function() {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
