@model Pagination<HouseWarehouseStore.Models.ArticleCategoryModel>
@{
    ViewData["Title"] = "Danh mục bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bài biết</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh mục bài viết</h6>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="ArticleCategory"><i class="fa-solid fa-plus"></i> Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/ArticleCategory/Index'" class="btn btn-dark">Tải lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.SuccessMsg
                        </div>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            <th>
                                Tên danh mục
                            </th>
                            <th>
                                Đường dẫn
                            </th>
                            <th>
                                Thứ tự
                            </th>
                            <th>
                                Hoạt động
                            </th>
                            <th>
                                Hiển thị trang chủ
                            </th>
                            <th>
                                Hiển thị menu ngang
                            </th>
                            <th>
                                Danh mục Hot
                            </th>
                            <th>
                                Thẻ tiêu đề
                            </th>
                            <th>
                                Thẻ mô tả
                            </th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Url)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategorySort)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShowHome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShowMenu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hot)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TitleMeta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionMeta)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ArticleCategoryId"><i class="fa-solid fa-pen"></i> Sửa</a>
                                    <a class="btn" style="background: yellow;" asp-action="Detail" asp-route-id="@item.ArticleCategoryId"><i class="fa-solid fa-eye"></i> Chi tiết</a>
                                    <button onclick="Delete('@item.ArticleCategoryId')" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Xóa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

@section Scripts{
    <script>
        setTimeout(function() {
            $('#msgAlert').fadeOut('slow');
        }, 2000);

        function Delete(id) {
            if (confirm("Bạn có chắc chắn xóa không?")) {
                $.post("/ArticleCategory/DeleteConfirmed", { id: id }, function(data) {
                    if (data) {
                        if (confirm("Xóa thành công"))
                            window.location.assign('/ArticleCategory/Index')
                    } else {
                        alert("Quá trình thực hiện không thành công. Hãy thử lại");
                    }
                });
            }
        }
    </script>
}

