@using HouseWarehouseStore.Common
@model Pagination<HouseWarehouseStore.Models.ProductLikeModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Sản phẩm yêu thích";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";

}


<!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Sản Phẩm Yêu Thích</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Thêm vào giỏ hàng</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead> 
                                    <tbody class="align-middle">                                       
                                        @foreach (var item in Model.Items)
                                        {
                                          <tr>
                                            <td>
                                                <div class="img">
                                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId"><img asp-append-version="true" width="60" height="60" src="@(Configuration["ApiFiles"]+"/files-product/image/"+ @item.ProductId)" alt="Image"></a>
                                                    <p>@item.ProductName</p>
                                                </div>
                                            </td>
                                            <td>@item.Quantity VNĐ</td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="1">
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td><button class="btn-cart">Thêm vào giỏ hàng</button></td>
                                            <td><button><i class="fa fa-trash"></i></button></td>
                                        </tr> 
                                       }

                                    </tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Pager", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
