@model  IEnumerable<HouseWarehouseStore.Models.BannerModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<div class="col-md-6">
    <div class="header-slider normal-slider">
        @foreach (var item in Model)
        {
            <div class="header-slider-item">
                <img asp-append-version="true" width="@item.Width" height="@item.Height" src="@(Configuration["ApiFiles"]+"/files-banner/image/"+ @item.CoverImage)" alt="Slider Image" />
                <div class="header-slider-caption">
                    <p>@item.BannerName</p>
                    <a class="btn" href="@item.Url"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
                </div>
            </div>
        }
    </div>
</div>

@await Component.InvokeAsync("BannerHeader")
