@model HouseWarehouseStore.Models.ArticleModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

@{
    ViewData["Title"] = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Bài viết</h1>

    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Chi tiết bài viết</h6>
        </div>
        <div class="card-header">
            <a class="btn btn-danger" asp-action="Index" asp-controller="Articles"><i class="fa-solid fa-arrow-left"></i> Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CreateDate" />

                    @foreach (var item in Model.FilesModels)
                    {
                        var url = $"/{_loc["articlesUrl"]}/{item.CollectionId}";
                        <a href="@url"><img src="@(Configuration["ApiFiles"]+item.Path+ "/"+@item.FileName+"")" alt="@item.FileName" /></a>
                    }
                    <div class="form-group w-25">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group bg-white">
                        <label asp-for="Body" class="control-label"></label>
                        <input type="hidden" asp-for="Body" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="View" class="control-label"></label>
                        <input asp-for="View" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="View" class="text-danger"></span>
                    </div>
                    <div class="form-group w-25">
                        <label asp-for="ArticleCategoryId" class="control-label"></label>
                        <select asp-for="ArticleCategoryId" class="form-control"  asp-items="ViewBag.ArticleCategorieID"></select>
                        <span asp-validation-for="ArticleCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" /> @Html.DisplayFor(m => m.Active)
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Home" /> @Html.DisplayFor(m => m.Home)
                        </label>
                    </div>

                    <div class="form-group">
                        <label asp-for="TitleMeta" class="control-label"></label>
                        <input asp-for="TitleMeta" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="TitleMeta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptionMetaTitle " class="control-label"></label>
                        <input asp-for="DescriptionMetaTitle " class="form-control" readonly="@(true)" />
                        <span asp-validation-for="DescriptionMetaTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KeyWord" class="control-label"></label>
                        <input asp-for="KeyWord" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="KeyWord" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $('#Body').summernote({
            placeholder: 'Mời bạn soạn thảo',
            tabsize: 2,
            height: 500,              // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });

        $('#Body').on('summernote.change', function(we, contents, $editable) {
            var markupStr = $('#Body').summernote('code');
            console.log(markupStr)
            $("input#Body").val(markupStr);
        });

        $(document).ready(function() {
            $('#Body').summernote('code', $("input#Body").val());
        })
    </script>
}